<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} Weather </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link  href="{{url_for('static',filename='styles/style.css') }}" rel="stylesheet" />
</head>
<body>
    <div id="container">
<h1>{{title}} Weather </h1>
<p> <i class="fa-solid fa-cloud-sun-rain"></i>  {{status}}   </p>
<h3><i class="fa-solid fa-temperature-full"></i> Temp: {{temp}} &deg;</h3>
<p>Feels like {{feels_like}} &deg;</p>
<h3>Country : {{country}}</h3>
<h5>Humidity <i class="fa-solid fa-water"></i> {{humidity}}%</h5>
<form action="/weather">
    <input type="text" name="city" id="city" placeholder="Enter a city"/>
    <button type="submit">Submit</button>
</form>    
</div>
</body>
</html>